.header { 
    background-color: #fff;
    flex-grow: 1;
    color: black;
   
}
.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
}
.menu-icon-box {
    
}
.app-name-box {
    
}

.desktop-menu-box {
    
}
