.search-section-box {
    display: block;
    position: static;
}
.search-section {
    height: 30rem;
    background-image: url(../../images/Markha-Valley-Trail-1-new-2560x1280.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
}

.another-section {
    text-align: center;
    padding: 10rem;
}

.search-section-header {
    color: white;
    margin: 0 auto 0 auto;
    font-size: 2.5rem;
}